.content-text{
    position: absolute;
    margin: 0px;
    padding: 15px;
    top: 34%;
    left: 5%;
    background-color: #ffffff;
    width: 50%;
}
.content-text .item-text{
    font-family: 'Roboto' serif;
}
.content-text .item-text h2{
    font-size: 1.5em;
}
.content-text .item-text p{
    font-size: 15px;
}
