
.header-menu{
    padding: 0;
    margin-top: -10;
    text-align: center;
    width: 100%;
    background-color: #fdfdfd;
}

.main-menu{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #ffffff;
}
.panel-menu{
  position: absolute;
  background-color: #4867f3;
}

.ico-facebook{
  list-style-type: none;
  margin: 0px;
  padding-bottom: 5px;
}
.ico-facebook .icon-fb{
  text-align: center;
  color: #4867f3;
}
.ico-facebook .facebook{
  padding: 5px 12px;
  color: #442929;
  text-decoration: none;
  background-color: #80b6f3;
  border-radius: 65%;
}
.ico-facebook .facebook:hover{
  color: #fff;
  background-color: #6f8e91;
}
/*.ico-facebook i{
  padding: 5px 5px;
  background-color: #c4c7c3;
  color: #495574;
  border-radius: 100%;
}
.ico-facebook i:hover{
  background-color: #77976b;
  color: #fff;
  padding: 5px 5px;
  border-radius: 100%;
}*/

.navega-nav{
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #F0F0F0;
  /*position: fixed;*/
  text-align: center;

}

#btn-menu{
  display: none;
}
.navega-nav .btn-menu{
  width: 40px;
  margin: 0;
  padding: 10px;
  border-right: 1px solid #fff;
  text-align: center;
  background-color: #acd7da;
  color: #2d2d3dcc;
  display: none;

}
.navega-nav .btn-menu:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.5);
}

.menu .menu-nav-colect{
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: 'Roboto', serif;
}
.menu li{
  text-align: center;
  flex-wrap: 1;
}
.menu li:hover{
  background: rgba(0,0,0,0.3);
}
.menu li a{
  display: block;
  padding: 10px 20px;
  color: #030101;
  text-decoration: none;
}

.menu .drop-content{
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #b3c9d8;
  list-style-type: none;
  flex-direction: column;
  display: none;
}
.menu .drop-menu:hover .drop-content{
  display: block;
}

.content{
  margin: 10%;
  float: center;
}

/*media query*/
@media (max-width: 768px){
  .navega-nav .btn-menu{
    display: block;
  }
  .menu{
      position: absolute;
      background-color: #98a6e2;
      width: 40%;
      margin-left: -40%;
      transition: all 0.5s;
  }
  .menu .menu-nav-colect{
      flex-direction: column;
  }
  .menu li{
      border-top: 0.5px solid #fff;
  }
  .menu ul li{
    position: relative;
    padding: 0;
    margin: 0;
}
.menu .drop-content{
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    display: none;
    top: 0;
    right: -100%;
}
.content-logo{
  display: none;
}
  #btn-menu:checked ~ .menu{
      margin: 0;

  }
  
}

/*
@media (max-width: 980px){
  .content{
    padding-top: 22%;
  }
}
@media (max-width: 940px){
  .content{
    padding-top: 24%;
  }
}
@media (max-width: 894px){
  .content{
    padding-top: 24%;
  }
}*/